*{
	margin: 0%;
	padding: 0%;
}

/*Header*/
header{
	width: 100%;
	height:5%;
	min-width: 940px;
}

/*Body*/
body{
	height: 100%;
    width: 100%;
    text-align: center;
    min-width: 940px;
}
.main{
	width: 90%;
	border:5px solid #DFF0F2;
	border-radius: 10px;
	margin: 7% 5% 8% 5%;
}
.main dt{
	display: none;
}
.main dt:first-child{
	display: block;
}
#hint{
	margin-top:50px;
	margin-bottom:50px;
	text-align: center;
	font-size: 1.5em;
	color: grey;
}
dl{
	clear: left;
}
dt{
	height: 200px;
	padding-bottom: 2%;
	border-bottom: 2px solid #EDEDED;
}
dd{
	float: left;
}
#myfavourites{
	height: 10%;
	background-color: #D9EDF6;
	width: 97%;
	text-align: left;
	font-size: 1.8em;
	padding: 2% 0 2% 3%;
	font-family: "Geneva";
	color: #81A9BD;
}

.img {
	width: 170px;
	vertical-align: middle;
	float: left;
	margin-top: 2.5%;
	margin-left: 4%;
	margin-right: 4%;
	padding-bottom: 0;
}
.description {
	text-align: left;
	width: 100%;
	height: 9.5em;
	font-size: 100%;
	padding-top: 4%;
}
.title{
	font-size: 1.5em;
	width: 40%;
	font-family: "Trajan Pro";
	color: #A1D1F9;
	float: left;
}
.imgDescription{
	float: left;
	width: 60%;
	text-align: left;
	padding-left: 5%;
	height: 6em;
    overflow:hidden;
    font-size:100%;
    font-family: "Calibri";
	padding-top: 1%;
	text-overflow: ellipsis;
    display: -webkit-box;  
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
 
}
.delete{
	height: 30px;
	width: 80px;
	font-size: 1em;
	background-color: #DA5259;
	border-radius:10px;
	border-color: #DA5259; 
	color: white;
	text-align: center;
	padding-top: 9px;
	margin-right: 2%;
	float: right;
}
.delete:hover{
	background-color: #FF8C92;
	border-color: #FF8C92; 
	cursor: pointer;
}
#pages{
	float: left;
	text-align: center;
	width: 20%;
	margin-left: 44%;
	margin-bottom: 20px;
}
.selected-pages{
	background-color:#006699;
	color: white;
}
#pages div{
	float: left;
	border: solid #E0E0E0 1px;
	width: 30px;
	height: 30px;

}
.page1{
	background-color:#3A7AB4;
	color: white;
}
#pages div:hover{
	cursor: pointer;
	background-color:#3A7AB4;
	color: white;
}


/*Footer*/
footer{
	width: 100%;
	height: 10%;
}